# Dependências
node_modules/
.npm

# Variáveis de ambiente (NUNCA suba isso para o GitHub!)
.env
config/.env

# Logs
*.log
logs/

# Build / cache
dist/
.cache/

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
